<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">

 <title>My Cart</title>
 <!-- adding bootstrap -->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
 <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
 <link rel="stylesheet" href="/styles/main.css" type="text/css" />
 <link rel="stylesheet" href="/styles/cart.css" type="text/css" />
 <link rel="stylesheet" href="/styles/header.css" type="text/css" />
 <link rel="stylesheet" href="/styles/menu.css" type="text/css" />

 <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
 <!-- <script type="text/javascript" src="/public/scripts/total-money-counter.js"></script> -->

</head>
<body>
  <%- include('_header') %>
  <main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img brownies" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="#777"/>
          <image href="https://github.com/Zeinaaaa/Midterm/blob/master/food_photos/molly-keesling-GbCeqX0kAUM-unsplash%20(1).jpg?raw=true"/>
        </svg>

        <div class="container">
          <div class="carousel-caption text-start caption-right">
            <h1>We're ready for you.</h1>
            <p>Review your items in the cart.</p>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-hover">
      <thead class="cart-thead">
        <tr class="cart-tr text-center">
            <th>Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
      </thead>

      <tbody class="justify-content-center">
          <% for (const item of cart) { %>
          <tr>
            <td class="card-product" data-th="Product">
                <div class="row">
                    <div class="col-md-3 text-left">
                      <svg class="bd-placeholder-img rounded-circle" width="160" height="160" margin-bottom="2em" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 160x160" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text><image href= <%= item.img%>/></svg>
                    </div>
                    <div class="col-md-9 text-center mt-sm-2">
                        <h6 class="cart-name"><%= item.menu_name %></h6>
                        <p class="font-weight-light"><%= item.type%></p>
                    </div>
                </div>
            </td>
            <td class="card-price" data-th="Price">$<%= item.price * item.quantity %>.00</td>

            <td class="card-quantity" data-th="Quantity">
                <input type="number" class="form-control center-block" value="<%= item.quantity %>">
            </td>
            <td class="card-actions" class="actions" data-th="">
                <div class="text-right">
                    <button class="btn btn-warning btn-lg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                    </svg>

                    </button>
                    <button class="btn btn-warning btn-lg"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                    </svg>

                    </button>
                </div>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>

    </div>
    <div class="row">
      <div class="col">
        <div class="card" id="mybrownie" >
          <div class="card-body text-center">
            <h5 class="card-title text-center">
              <h5>Other Actions:</h5>
          </div></h5>
            <div class ="text-center"><a href="/api/menu" class="link-secondary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>  Back to Menu </a>
            <form action="/api/cart/clear" method="get">
              <input type="submit" value="Clear Cart" class="btn btn-warning btn-sm">
            </form>
          </div>
        </div>

    <div class="col">
      <div class="card " id="mybrownie">
        <div class="card-body text-center">
          <h5 class="card-title">Total:
            <h5>$<%= totPrice %>.00</h5>
        </div></h5>
        <form class="d-flex justify-content-center align-items-center brownie-form">
          <input class="form-control me-2" type="search" name="" placeholder="(012) 345-6789" aria-label="" >
        <button class="btn btn-sm" type=""><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-plus" viewBox="0 0 16 16">
          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          <path fill-rule="evenodd" d="M12.5 1a.5.5 0 0 1 .5.5V3h1.5a.5.5 0 0 1 0 1H13v1.5a.5.5 0 0 1-1 0V4h-1.5a.5.5 0 0 1 0-1H12V1.5a.5.5 0 0 1 .5-.5z"/>
        </svg></button>

        </form>


          <form class="d-flex justify-content-center align-items-center" action="/api/confirm-order" method="get">

            <input type="submit" value="Order Now" class="btn btn-warning btn-lg">
          </form>
        </div>
      </div>
  </div>

  </main>
</body>
</html>



